/* body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-image: url(https://freerangestock.com/sample/52585/colorful-music-background-shows-sounds-jazz-and-harmony-.jpg);
    background-size: 100%;
    background-size: cover;
  }
  
  .container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    margin: auto;
  }
  
  h1 {
    font-size: 24px;
  }
  
  #fileInput {
    margin-top: 20px;
  }
  
  #audioPlayer {
    margin-top: 20px;
    width: 100%;
  }
   */
   body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://freerangestock.com/sample/52585/colorful-music-background-shows-sounds-jazz-and-harmony-.jpg');
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    margin-top: 10rem;
    text-align: center;
    background-color: rgba(185, 169, 169, 0.8); /* Add a semi-transparent white background to improve readability */
    padding: 20px;
    border-radius: 20px;
    height: 12rem;
}
#audioPlayer{
    margin-top: 1rem;
}


button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Pointer cursor on hover */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}